@import url(../estilos/estilos.css);

h1 {
    font-size: 50px;
    text-decoration:underline ;
    text-decoration-color: rgb(30, 255, 225);
}

.preguntas{
    display: grid;
    height: 700px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    align-content: space-around;
}

.pregunta {
    border: 2px solid black;
}

.pregunta h2{
    font-size: 34px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: red;
}